<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TP1 EDM</title>
</head>

<body>
	<h1>EJERCICIOS TP1</h1>
	<ul>
		<li><a href="resolverPunto1?num=5">Punto 1</a></li>
		<li><a href="resolverPunto2?yy=2003">Punto 2</a></li>
		<li><a
			href="resolverPunto3?num1=4&num2=6&num3=5&num4=22&num5=15&num6=33">Punto3</a></li>
		<li><a href="resolverPunto4?num=6">Punto 4</a></li>
		<li><a href="resolverPunto5?num=11 ">Punto 5</a></li>
		<li><a href="resolverPunto6?num=7">Punto 6</a></li>
		<li><a href="resolverPunto7?">Punto 7</a></li>
		<li><a href="resolverPunto8?">Punto 8</a></li>
		<li><a href="resolverPunto9?">Punto 9</a></li>
		<li><a href="resolverPunto10?">Punto 10</a></li>
		<li><a href="resolverPunto11?">Punto 11</a></li>
		<li><a href="resolverPunto12?height=15">Punto 12</a></li>
	</ul>
</body>
</html>