<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ejercicio 3</title>
</head>
<body>
	<h1>RESULTADO</h1>
	<h2>
		El 1er numero <span th:text="${par1}"></span><span
			th:text="${Punto3num1}"></span>
	</h2>
	<h2>
		El 2do numero <span th:text="${par2}"></span><span
			th:text="${Punto3num2}"></span>
	</h2>
	<h2>
		El 3er numero <span th:text="${par3}"></span><span
			th:text="${Punto3num3}"></span>
	</h2>
	<h2>
		El 4to numero <span th:text="${par4}"></span><span
			th:text="${Punto3num4}"></span>
	</h2>
	<h2>
		El 5to numero <span th:text="${par5}"></span><span
			th:text="${Punto3num5}"></span>
	</h2>
	<h2>
		El 6to numero <span th:text="${par6}"></span><span
			th:text="${Punto3num6}"></span>
	</h2>

	<a href="menu">Volver al Menu</a>
</body>
</html>